.delete_container{
    display: grid;
    justify-content: center;
}

.input_id{
    width: 700px;
    height: 150px;
    background-color: darkgrey;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
    border-radius:  20px;
}

.input_id span{
    margin-top: 3rem;
    font-size: 30px;
    font-weight: 500;
}

.input_id input{
    margin-top: 3rem;
    width: 300px;
    height: 45px;
    text-align: right;
    padding: 5px;
    font-size: 1.5rem;
}

.button_container{
    width: 700px;
}

.data_button{
    width: 150px;
}

.data_container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.index_container{
    width: 700px;
    display: flex;
    justify-content: center;
}

.index_container h5{
    border-bottom: 2px solid black ;
    text-align: center;
}

.name_line{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.name_line p{
    border-bottom: 2px solid black;
    width: 250px;
}

.name_line h6{
    font-weight: 600;
    font-size: 20px;
}

.header_container{
    width: 700px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header_container h2{
    font-size: 2.5rem;
}

.delete_button{
    width: 700px;
    display: flex;
    justify-content: center;
}

.delete_button button{
    width: 150px;
    margin-top: 20px;
}